$bg: #0e0e14;
$text: #fefefe;
$button: #106de8;
$button-hover: #1560c4;

@mixin Interactable {
  cursor: pointer;
  transition: all ease-in-out 200ms;

  &:hover {
    filter: drop-shadow(0 0 5px $text);
  }
}

.container {
  background: $bg;
  height: 5.5rem;
  display: flex;
  padding: 1rem 2.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  z-index: 5;
  
  h1 {
    margin: unset;
    @include Interactable();
  }

  .infoButton {
    width: 1.5rem;
    @include Interactable();
  }

  .dumpButton {
    outline: none;
    border: none;
    border-radius: 5px;
    background: $button;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $text;
    padding: 0.5rem 1.5rem;
    @include Interactable();
  }
}