$bg: #0e0e11;
$indexed: #106de8;

.container {
  list-style: none;
  min-width: 28rem;
  background: $bg;
  max-height: calc(100vh - 5.5rem);
  margin: unset;
  padding: 1rem 2rem;
  overflow-y: scroll;
  
  .listEntry {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: 100%;

    div {
      margin-right: 1rem;
    }

    p {
      font-weight: 300;
      margin: unset;
    }

    .indexed {
      margin-left: auto;
      font-size: 0.8rem;
      background: $indexed;
      border-radius: 5px;
      padding: 3px 10px;
    }
  }
}